<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="<%= cdnUrl %>/assets/index-DpeVOz-n.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins"
    />
    <% if (iconUrl) { %>
    <link id="favicon" rel="icon" type="image/png" href="<%= iconUrl %>" />
    <% } else { %>
    <link
      id="favicon"
      rel="icon"
      type="image/png"
      href="<%= cdnUrl %>/favicon.png"
    />
    <% } %>

    <!-- Primary Meta Tags -->
    <title>After Pose — View your After Pose</title>
    <meta name="title" content="After Pose — View your After Pose" />
    <meta
      name="description"
      content="View, Share, and Download your After Pose!"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:title" content="After Pose — View your After Pose" />
    <meta
      property="og:description"
      content="View, Share, and Download your After Pose!"
    />
    <meta property="og:image" content="<%= photos[0].url %>" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<%= url %>" />
    <meta
      property="twitter:title"
      content="After Pose — View your After Pose"
    />
    <meta
      property="twitter:description"
      content="View, Share, and Download your After Pose!"
    />
    <meta property="twitter:image" content="<%= photos[0].url %>" />

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      rel="stylesheet"
    />

    <script>
      const photos = JSON.parse(`<%- JSON.stringify(photos) %>`);
      let url = photos[0].url;
      let splide = null;
      document.addEventListener("DOMContentLoaded", function () {
        splide = new Splide(".splide", {
          arrows: photos.length > 1,
        });
        splide.mount();

        splide.on("visible", function (slide) {
          url = photos[slide.index].url;
        });
      });
    </script>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%= gtag %>"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      const gtagConfig = {
        account_id: "<%= accountId %>",
        group_id: "<%= photos[0].groupId %>",
      };
      gtag("config", "<%= gtag %>", gtagConfig);
    </script>
  </head>

  <body>
    <script>
      const supportsLightMode =
        "<%= settings.themes?.light ? true : false %>" == "true";
      const supportsDarkMode =
        "<%= settings.themes?.dark ? true : false %>" == "true";
      const lightIconUrl = "<%= settings.themes?.light?.iconUrl %>";
      const darkIconUrl = "<%= settings.themes?.dark?.iconUrl %>";

      let theme = null;
      let iconUrl = null;
      if (supportsLightMode && supportsDarkMode) {
        const prefersDarkMode = window.matchMedia(
          "(prefers-color-scheme:dark)"
        ).matches; // true
        theme = prefersDarkMode ? "is-dark" : "is-light";
      } else if (supportsLightMode) {
        theme = "is-light";
        if (lightIconUrl) iconUrl = lightIconUrl;
      } else if (supportsDarkMode) {
        theme = "is-dark";
        if (darkIconUrl) iconUrl = darkIconUrl;
      }
      document.body.classList.add(theme);
      if (iconUrl) document.getElementById("favicon").href = iconUrl;
    </script>
    <header>
      <!-- Mobile Navbar -->
      <nav
        class="navbar mobile-navbar no-shadow is-hidden-desktop is-hidden-tablet"
        aria-label="main navigation"
      >
        <div class="container">
          <div class="navbar-brand">
            <div class="brand-start"></div>
            <a class="navbar-item is-brand" href="index.html">
              <img
                class="light-image"
                src="<%= settings.themes?.light?.logoUrl ? settings.themes?.light?.logoUrl : `${cdnUrl}/images/after-pose-logo-dark-alt.png` %>"
                alt="Dark Logo"
              />
              <img
                class="dark-image"
                src="<%= settings.themes?.dark?.logoUrl ? settings.themes?.dark?.logoUrl : `${cdnUrl}/images/after-pose-logo-light-alt.png` %>"
                alt="Light Logo"
              />
            </a>
            <div class="brand-end"></div>
          </div>
        </div>
      </nav>
      <!-- Desktop Navbar -->
      <div class="webapp-navbar mobile-hidden">
        <div class="webapp-navbar-inner">
          <div class="left">
            <a href="/" class="brand">
              <img
                class="light-image"
                src="<%= settings.themes?.light?.logoUrl ? settings.themes?.light?.logoUrl : `${cdnUrl}/images/after-pose-logo-dark-alt.png` %>"
                alt="Dark Logo"
              />
              <img
                class="dark-image"
                src="<%= settings.themes?.dark?.logoUrl ? settings.themes?.dark?.logoUrl : `${cdnUrl}/images/after-pose-logo-light-alt.png` %>"
                alt="Light Logo"
              />
            </a>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="splide" area-label="After Pose Photos">
        <div class="splide__track">
          <ul class="splide__list">
            <% for(let i = 0; i < photos.length; i++) { %>
            <li class="splide__slide">
              <% if (photos[i].url.includes(".mp4")) { %>
              <video
                class="photo"
                alt="Your After Pose"
                src="<%= photos[i].url %>"
                controls
                autoplay
                loop
                muted
              />
              <% } else { %>
              <img
                class="photo"
                alt="Your After Pose"
                src="<%= photos[i].url %>"
              />
              <% } %>
            </li>
            <% } %>
          </ul>
        </div>
      </section>
      <section class="limited">
        <div class="flex-buttons">
          <button
            onclick="download()"
            class="button is-primary is-medium is-fullwidth"
          >
            <span class="ms-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" />
              </svg>
            </span>
            Download
          </button>
          <button
            id="share-btn"
            onclick="share()"
            class="button is-primary is-medium is-fullwidth"
          >
            <span class="ms-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M18,16.08C17.24,16.08 16.56,16.38 16.04,16.85L8.91,12.7C8.96,12.47 9,12.24 9,12C9,11.76 8.96,11.53 8.91,11.3L15.96,7.19C16.5,7.69 17.21,8 18,8A3,3 0 0,0 21,5A3,3 0 0,0 18,2A3,3 0 0,0 15,5C15,5.24 15.04,5.47 15.09,5.7L8.04,9.81C7.5,9.31 6.79,9 6,9A3,3 0 0,0 3,12A3,3 0 0,0 6,15C6.79,15 7.5,14.69 8.04,14.19L15.16,18.34C15.11,18.55 15.08,18.77 15.08,19C15.08,20.61 16.39,21.91 18,21.91C19.61,21.91 20.92,20.61 20.92,19A2.92,2.92 0 0,0 18,16.08Z"
                />
              </svg>
            </span>
            Share
          </button>
        </div>
      </section>
      <% if (settings.actionText && settings.actionUrl) { %>
      <section class="limited">
        <div class="flex-buttons">
          <a
            href="<%= settings.actionUrl %>"
            class="button is-primary is-medium is-fullwidth"
          >
            <%= settings.actionText %>
          </a>
        </div>
      </section>
      <% } %>
    </main>
    <% if (usedProducts?.length) { %>
    <footer>
      <section class="limited">
        <hr class="is-divider" />
        <h3
          class="subtitle is-size-3 has-text-weight-semibold has-text-centered mb-2"
        >
          Products Used
        </h3>
        <div class="products">
          <% usedProducts.forEach(product => { %>
          <a class="product" href="<%= product.url %>" target="_blank">
            <img src="<%= product.imageUrl %>" alt="<%= product.name %>" />
            <span
              class="product-text has-text-centered has-text-weight-semibold is-size-6"
              ><%= product.name %></span
            >
          </a>
          <% }) %>
        </div>
      </section>
    </footer>
    <% } %>

    <script>
      // show share button is supported
      const shareBtn = document.getElementById("share-btn");
      if (navigator.share) {
        shareBtn.classList.remove("is-hidden");
      }
    </script>

    <script>
      async function share() {
        if (navigator.share) {
          try {
            if (navigator.canShare({ url: window.location.href })) {
              await navigator.share({
                title:
                  '<%= settings.shareTitle ? settings.shareTitle : "My After Pose!" %>',
                text: '<%= settings.shareMessage ? settings.shareMessage : "Look at my After Pose!" %>',
                url: window.location.href,
              });
              gtag("event", "shared");
            }
          } catch (err) {
            if (e.toString().includes("AbortError")) return;
            console.error(err);
            alert("Error sharing. Please try again later.");
          }
        } else {
          alert("This browser does not support sharing.");
        }
      }

      function download() {
        const extension = new URL(url).pathname
          .split("/")
          .at(-1)
          .split(".")
          .at(-1);

        fetch(url)
          .then((resp) => resp.blob())
          .then((blob) => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.style.display = "none";
            a.href = url;
            // the filename you want
            a.download = `your-afterpose-${Date.now()}.` + extension;
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
          });
      }
    </script>

    <style>
      html {
        background-color: unset;
      }

      body.is-light {
        --color-primary: <%= settings.themes?.light?.colorPrimary %>;
        --color-primary-text: <%= settings.themes?.light?.colorText %>;
      }

      body.is-dark {
        --color-primary: <%= settings.themes?.dark?.colorPrimary %>;
        --color-primary-text: <%= settings.themes?.dark?.colorText %>;
      }

      .ms-icon {
        fill: var(--color-primary-text);
        width: 20px;
        height: 20px;
        margin-right: 4px;
      }

      .button.is-primary {
        color: var(--color-primary-text, #fff) !important;
        fill: var(--color-primary-text, #fff) !important;
        border-color: transparent !important;
        background-color: var(--color-primary, #db1b74) !important;
        box-shadow: none !important;
      }

      .button.is-primary:hover {
        filter: brightness(0.85);
      }

      .navbar {
        position: relative;
        border-bottom: 1px solid #ededed;
      }

      .is-divider {
        margin: 0.75rem 0;
      }

      body.is-dark .navbar {
        border-color: #252529;
      }

      main,
      footer {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .splide__slide {
        display: flex;
        justify-content: center;
      }

      .splide__slide .photo {
        height: 100%;
        max-height: 80vh;
      }

      .splide:not(.is-overflow) .splide__list {
        justify-content: center;
      }

      .flex-buttons {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }

      .limited {
        padding: 8px;
        max-width: 600px;
        width: 100%;
      }

      .products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
      }

      .product {
        display: flex;
        position: relative;
        aspect-ratio: 1;
        max-height: 192px;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        padding: 8px;
        flex: 1 1 128px;
        padding-bottom: 32px;
      }

      .product img {
        max-width: 100%;
        max-height: 100%;
      }

      .product span {
        position: absolute;
        color: white;
        bottom: 0;
        padding: 8px 2px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 128px;
      }
      @media (max-width: 480px) {
        .products {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    </style>
  </body>
</html>
